In [2]:
import regex as re

In [ ]:
Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [13]:
sample_text='Python Exercises, PHP exercises.'
text = text.replace(' ', ':')    
text= text.replace(',', ':')  
text = text.replace('.', ':')
print(text)

Python:Exercises::PHP:exercises:

In [ ]:
Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [60]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

def remove(text):
   
    remove = re.sub(r'[^a-z\s]', ' ', text)
    remove = remove.strip()
    return remove

data['SUMMARY'] = [remove(text) for text in data['SUMMARY']]


df = pd.DataFrame(data)

print(df)

            SUMMARY
0      hello  world
1              test
2  four  five   six

In [ ]:
Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [65]:
str1='virat is one of the best player all over world '
string_p=r'\b\w{4,}\b'
reg_p=re.compile(string_p)
result=reg_p.findall(str1)
print(result)

['virat', 'best', 'player', 'over', 'world']

In [ ]:
Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [67]:
str1='virat is one of the best player all over world '
string_p=r'\b\w{3,5}\b'
reg_p=re.compile(string_p)
result=reg_p.findall(str1)
print(result)

['virat', 'one', 'the', 'best', 'all', 'over', 'world']

In [ ]:
Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [41]:
def remove_parentheses(strings):
  
    pattern = re.compile(r'[()]')

    
    modified_strings = [pattern.sub('', string) for string in strings]

    return modified_strings


sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


output = remove_parentheses(sample_text)
for item in output:
    print(item)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [ ]:
Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [64]:
import re


input_list = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

def remove_parentheses(text):
    return re.sub(r'\s*\([^)]*\)\s*', '', text)
output_list = [remove_parentheses(text) for text in input_list]


print(output_list)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [ ]:
Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [66]:
import re

sample_text = "ImportanceOfRegularExpressionsInPython"
output_list = re.findall(r'[A-Z][a-z]*', sample_text)

print(output_list)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [25]:
import re

def insert_spaces(text):
   
    change_text = re.sub(r'([A-Za-z])(\d)', r'\1 \2', text)
    return change_text
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = insert_spaces(sample_text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [ ]:
Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [27]:
import re

def insert_spaces(text):
    change_text = re.sub(r'([A-Z0-9][a-z]*)', r' \1', text)
    return change_text
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [ ]:
Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract 
the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [109]:
import pandas as pd

In [150]:
df=pd.read_csv('happiness_score_dataset.csv')
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [151]:
df.shape

(158, 12)

In [152]:
df.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [165]:
df['first_five_letters'] = df['Country'].str[:6]
print(df[ ['Country','first_five_letters']])

         Country first_five_letters
0    Switzerland             Switze
1        Iceland             Icelan
2        Denmark             Denmar
3         Norway             Norway
4         Canada             Canada
..           ...                ...
153       Rwanda             Rwanda
154        Benin              Benin
155        Syria              Syria
156      Burundi             Burund
157         Togo               Togo

[158 rows x 2 columns]

In [164]:
df.shape

(158, 13)

In [ ]:
Question 11- Write a Python program to match a string that contains only upper and lowercase letters,
numbers, and underscores.

In [168]:
def alphabet(text):
   
    pattern = re.compile(r'\b[a-zA-Z0-9_]\b')
    
  
    if pattern.match(text):
        return True
    else:
        return False


input_strings = ["Hello123", "%%%Valid_String_42", "invalid$S@--tring", "12345", "_underscore_only"]

for text in input_strings:
    if is_valid_string(text):
        print(f'"{text}" is a alphabet.')
    else:
        print(f'"{text}" is not a alphabet.')

"Hello123" is not a alphabet.
"%%%Valid_String_42" is not a alphabet.
"invalid$S@--tring" is not a alphabet.
"12345" is not a alphabet.
"_underscore_only" is not a alphabet.

In [ ]:
Question 12- Write a Python program where a string will start with a specific number.

In [175]:
def numeric_value(string, number):
    
    number_str = str(number)
    return string.startswith(number_str)


input_string = "10 0 is numeric value"
specific_number = "10"

if numeric_value(input_string, specific_number):
    print(f'The string  starts with the number {specific_number}.')
else:
    print(f'The string does not start with the number {specific_number}.')

The string  starts with the number 10.

In [ ]:
Question 13- Write a Python program to remove leading zeros from an IP address

In [180]:
def remove_zeros(ip_address):
    octets = ip_address.split('.')
    cleaned_octets = [str(int(octet)) for octet in octets]
    cleaned_ip_address = '.'.join(cleaned_octets)
    return cleaned_ip_address


ip_address = "660.168.005.001"
cleaned_ip = remove_zeros(ip_address)
print(f"Original IP address: {ip_address}")
print(f"Cleaned IP address: {cleaned_ip}")

Original IP address: 660.168.005.001
Cleaned IP address: 660.168.5.1

In [ ]:
Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day 
number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of 
    control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [200]:
Sample_text ='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
result=re.search(r'\bA[a-z]+\b.+(\b\d+)',Sample_text)
print(result)

<re.Match object; span=(3, 19), match='August 15th 1947'>

In [ ]:
Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [214]:
import re
Searched_words= [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in Searched_words:
    print('Searching for "%s"' % (pattern))
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox"
Matched!
Searching for "dog"
Matched!
Searching for "horse"
Not Matched!

In [ ]:
Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [243]:
sample_st ='The quick brown fox jumps over the lazy dog'
result=re.search('fox',sample_st)
print(result)

<re.Match object; span=(16, 19), match='fox'>

In [ ]:
Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [252]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = re.finditer(pattern, sample_text)

for match in result:
    
    print(match.group())

exercises
exercises
exercises

In [ ]:
Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [253]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
result=re.finditer(r' exercises',Sample_text)
for match_obj in result:
    print(match_obj)
    print(match_obj.group())

<re.Match object; span=(6, 16), match=' exercises'>
 exercises
<re.Match object; span=(21, 31), match=' exercises'>
 exercises
<re.Match object; span=(35, 45), match=' exercises'>
 exercises

In [ ]:
Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [256]:
import re
sample_date = '2023-10-31'

pattern = r'(\d{4})-(\d{2})-(\d{2})'
change_date = re.sub(pattern, r'\3-\2-\1', sample_date)

print(f'sample date: {sample_date}')
print(f'change date: {change_date}')

sample date: 2023-10-31
change date: 31-10-2023

In [ ]:
Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [2]:
import re
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def dec_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    dec_numbers = pattern.findall(text)
    return dec_numbers

result = dec_numbers(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [ ]:
Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [272]:
sample_text ='price of car is 10 lakh, price of tv is 50000, price of other tv is 60000'
pattern = r'\b\d+(\.\d+)?\b'

for match in re.finditer(pattern, sample_text):
    match_number = match.group()
    start_position = match.start()
    end_position = match.end()
    print(f"Number: {match_number}, Position: {start_position}-{end_position}")

Number: 10, Position: 16-18
Number: 50000, Position: 40-45
Number: 60000, Position: 68-73

In [ ]:
Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [273]:
import re
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

pattern = r'\b\d+\b'
numeric_values = [int(match.group()) for match in re.finditer(pattern, sample_text)]

if numeric_values:
    max_numeric_value = max(numeric_values)
    print(f"Maximum Numeric Value: {max_numeric_value}")
else:
     print("No numeric values found in the text.")

Maximum Numeric Value: 950

In [ ]:
Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [35]:
sample_text = "RegularExpressionIsAnImportantTopicInPython"
pattern = r'([A-Z][a-z]*)'
result = re.sub(pattern, r'\1 ', sample_text)
print(result)

Regular Expression Is An Important Topic In Python

In [ ]:
Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [42]:
import re

text = "Regular Expression Is an Important Topic In python"

pattern = r'[A-Z][a-z]+'
result = re.findall(pattern, text)

for match in result:
    print(match)

Regular
Expression
Is
Important
Topic
In

In [ ]:
Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [61]:
sample_text = "Hello hello world world"
pattern = r'\b(\w+)\s+\1\b'
result = re.sub(pattern, r'\1', text, flags=re.IGNORECASE)
print(output)

Hello world

In [ ]:
Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [82]:
sample_text=' helloworld1234'
pattern = r'\w+$'
    
result= re.search(pattern,sample_text)
print(result)

<re.Match object; span=(1, 15), match='helloworld1234'>

In [ ]:
Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [96]:
Sample_Text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern = r'#\w+'
result= re.findall(pattern, sample_text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [104]:
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+[\dA-Fa-f]+>'
result = re.sub(pattern, '', sample_text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [ ]:
Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [3]:
def extract_dates(filename):
    with open(filename, 'r') as file:
        text = file.read()
    date= r'\d{2}-\d{2}-\d{4}'
    dates = re.findall(date, text)

    return dates

file_name = "sample.txt"
dates = extract_dates(file_name)

if dates:
    print("Dates found :")
    for date in dates:
        print(date)
else:
    print("No dates found .")

Dates found :
12-09-1992
15-12-1999

In [ ]:
Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [108]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\b\w{2,4}\b')
result = pattern.sub('',sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.